/* primary related style */
*{
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 36px;
    padding-right: 35px;

}
.btn-primary:hover{
    cursor: pointer;
    background-color: rgb(22, 211, 15);
}
.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-descr{
    padding-top: 15px;
    color:  #757575;
    text-align: center;
    font-size: 18px;;
    font-weight: 400;
}
/* header related style */

/* nav section style  */
.nav-head{
    padding-top: 25px;
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
}
.dev-img{
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* banner section style  */
.banner-lowtext{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}
.banner-main-heading{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner-content{
    
}
.banner-descr{
    margin-bottom: 49px;
    min-height: 60px;
    max-width: 585px;
}
.banner .profile-picture{
    width: 600px;
    height: 710px;
    padding-left: 500px;
}
.contact{
    background-color: white;
    color: #FD6E0A;
    margin-left: 20px;
    border: 2px solid #FD6E0A;
}

/* main related style  */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style  */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
    
}
.info{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.info-design{
    color: #757575;
    font-size: 18px;;
    font-weight: 400;
}
.info h3{
    color: #474747;
}

/* what id do section style  */
#wid-descr{
    padding: 30px 150px;
}
.skill-container{
    
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 130px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
}
.skill-title{
    padding-top: 30px;
    padding-bottom: 20px;
}
.skill-descr{
    padding: 20px;
    color: #757575;
}

/* resume section style  */
.resume-title{
    padding-top: 113px;
    color:  #474747;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}
.resume-container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.resume-item-title{
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;

}
.resume-item-descr{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}
.resume-container hr{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.download-cv{
    text-align: center;
    margin: 50px;
    padding-bottom: 100px;
}

/* footer style  */

footer{
    background: #FFF8F3;
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-descr{
    color:  #474747;
    font-size: 16px;
    font-weight: 400;
}
.contact-me input[type="text"], .contact-me input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: none;
}
.let{
    text-align: left;
}
.social-img a{
    margin-right: 25px;
}

.copyright{
    background: #FFF8F3;
    padding-bottom: 100px;
}
.hr-line{
    text-align: center;
}
hr{
    margin: 0px 500px 0px 500px;
}